{{#paper-toolbar as |toolbar|}}
   {{#toolbar.tools}}
     <h2>About</h2>
   {{/toolbar.tools}}
 {{/paper-toolbar}}

{{#paper-content class="md-padding"}}
<div class="layout-row layout-column">
  <div class="doc-content">
    <div class="flex">I'm above on mobile, and to the left on larger devices.</div>
    <div class="flex">I'm below on mobile, and to the right on larger devices.</div>
  </div>
</div>
{{/paper-content}}

{{!--
{{#smd-page}}

  {{smd-page-header title="About Page"}}

  {{#smd-page-body}}

    <p>The following page components can be used to layout basic page data.</p>

  {{/smd-page-body}}

  {{#smd-page-footer}}
    This is a footer.
  {{/smd-page-footer}}

{{/smd-page}}
--}}
