{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'index'}}{{#paper-button}}Home{{/paper-button}}{{/link-to}}
    {{#link-to 'paperexample'}}{{#paper-button}}Paper Example{{/paper-button}}{{/link-to}}
  </div>
{{/paper-toolbar}}